.navbar {
  min-width: 100%;
  border-bottom: 1px solid $color-gray-200;
  //background-color: $color-white;

  @include breakpoints('lg') {
    border: none;
  }
}

.navbar__container {
  @include flex-between;
  padding-top: rem(12px);
  padding-bottom: rem(12px);
  @include container;
  position: relative;
  @include breakpoints('lg') {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.navbar__menu {
  all: unset;
  height: rem(24px);
  min-height: rem(24px);
  width: rem(24px);
  min-width: rem(24px);

  @include flex-between;
  justify-content: center;
  cursor: pointer;
}

.navbar__menu__bars {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: rem(4px);
  transition: all 1s;
}

.navbar__container.-visible-flex {
  .navbar__items {
    background-color: rgba($color: #ffff, $alpha: 0.8);
    backdrop-filter: blur(30px);
  }

  .navbar__menu__bars {
    gap: rem(2px);
  }

  .navbar__menu__bar:nth-child(1) {
    border: 2px solid $accent-2;
    transform: translateY(6px) rotate(45deg);
  }

  .navbar__menu__bar:nth-child(2) {
    border: 2px solid $accent-2;
    width: 0;
    opacity: 0;
    overflow: hidden;
  }

  .navbar__menu__bar:nth-child(3) {
    border: 2px solid $accent-2;
    transform: translateY(-6px) rotate(-45deg);
    width: 100%;
  }
}

.navbar__menu__bar {
  display: inline-block;
  width: rem(24px);
  border: 2px solid $color-gray-300;
  border-radius: 4px;
  transition: all 0.6s;

  &:nth-child(3) {
    width: rem(12px);
  }
}

.navbar__logo {
  font-family: $font-space-grotesk;
  font-size: $text-mxl;
  font-weight: bold;
}

.navbar__items {
  position: fixed;
  inset: 0;
  top: rem(64px);
  height: calc(100vh - 64px);

  padding: rem(24px) rem(24px);
  display: flex;
  flex-direction: column;
  gap: rem(16px);

  z-index: 99;

  background-color: $color-white;

  transition: all 0.8s;

  @include breakpoints('lg') {
    position: relative;
    height: auto;
    display: flex !important;

    opacity: 1;
    visibility: visible;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    inset: 0;
    transition: none;
  }
}

.navbar__list {
  display: flex;
  flex-direction: column;
  gap: rem(16px);

  @include breakpoints('lg') {
    flex-direction: row;
  }
}

.navbar__list__items {
  color: $color-gray-500;
  transform: translateX(-100%);
  will-change: transform;

  @include breakpoints('lg') {
    transform: translateX(100%);
  }
}

.navbar__list__items__link {
  display: inline-block;
  width: 100%;
  font-size: $text-sm;
  padding: rem(4px) 0;
  border-bottom: 1px solid transparent;
  transform: translateX(-100%);
  transition: transform 0.1s 0.5s ease;

  &-flex {
    @include flex-between;
  }

  &:hover {
    color: $color-gray-800;
    border-color: $color-gray-300;
  }

  @include breakpoints('lg') {
    transform: none;
  }
}

.navbar__cta {
  @include breakpoints('lg') {
    display: inline-flex;
    gap: rem(24px);
    align-items: center;
  }
}

.navbar__list__items__link .navbar__cta {
}

.navbar__cta__search {
}
