//variables
$font-euclid: 'Euclid Circular A', sans-serif;
$font-space-grotesk: 'Space Grotesk', sans-serif;
$base-font: 16px;

//size
$text-xs: 0.625rem;
$text-xsm: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-lg: 1.125rem;
$text-xl: 1.375rem;
$text-mxl: 1.5rem;
$text-4xl: 2.1875rem;
$text-5xl: 3.125rem;
$text-6xl: 3.375rem;
$text-7xl: 3.4rem;

//Breakpoint
$container: 75rem;
