//reset
*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-euclid;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: $base-font;
}

