//reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  @extend %cover;
}

body {
  @extend %cover;
  font-family: $font-euclid;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: $base-font;
  overflow: auto;
  background: no-repeat center/auto url('images/bg-blends.png');
}
